<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Administrar</title>
	<link href='css/bootstrap.css', rel='stylesheet' media="screen">
	<link href='css/css.css', rel='stylesheet'>
</head>
<body>
	<nav class="nav">
		<img src="img/cheMixer.png" class="img-responsive img-rounded" alt="Responsive image">
		<div class="Nav">
			<ul class="nav nav-tabs ">
				<li><a href="#">Inicio</a></li>
				<li class="active"><a href="#">Administración</a></li>
				<li><a href="#">Cerrar Sesión</a></li>
			</ul>
		</div>
	</nav>
	<section class="container">
		<h3 class="centrar">Administración</h3>
		<div class="form-group botones">
			<button class="btn btn-block button">Administrar elementos</button>
			<button class="btn btn-block button">Administrar Combinaciones</button>
			<button class="btn btn-block button">Administrar Usuario</button>
		</div>
	</section>
	<footer>
		<div>
			<h3>Footer</h3>
		</div>
	</footer>
</body>
</html>