<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Buscar Combinaciones</title>
	<link href='css/bootstrap.css', rel='stylesheet' media="screen">
	<link href='css/css.css', rel='stylesheet'>
</head>
<body>
	<nav class="nav">
		<img src="img/cheMixer.png" class="img-responsive img-rounded" alt="Responsive image">
		<div class="Nav">
			<ul class="nav nav-tabs ">
				<li><a href="#">Inicio</a></li>
				<li class="active"><a href="#">Combinaciones</a></li>
				<li><a href="#">Cerrar Sesión</a></li>
			</ul>
		</div>
	</nav>
	<section class="container centrar">
		<h3>Buscar</h3>
		<form class="navbar-form navbar-left" role="search">
     		<div class="form-group">
        		<input type="text" class="form-control" placeholder="Array de combinaciones">
      		</div>
      		<button type="submit" class="btn button"><img src="img/search2.png" class="img-responsive img-rounded imgBuscar" alt="Responsive image"></button>
    	</form>
	</section>
	<section class="dropdown-menu container">
		<div class="panel panel-default">
  			<div class="panel-heading">Array de combinaciones</div>
  				<table class="table">
  					<div class="col-sm-1">Datos</div>
  				</table>
  		</div>
  		<div class="botones">
    		<div class="col-md-6">
    			<button type="submit" class="btn button">Modificar</button>
    		</div>
    		<div class="col-md-6">
    			<button type="submit" class="btn button">Eliminar</button>
    		</div>
    	</div>
	</section>
	<section class="dropdown-menu container centrar">
		<h3>Modificar</h3>
		<form class="navbar-form navbar-left">
     		<div class="form-group">
        		<input type="text" class="form-control" placeholder="Array de combinaciones">
      		</div>
      		<div class="botones">
    			<div class="col-md-6">
    			  <button type="submit" class="btn button">Cancelar</button>
    			</div>
    			<div class="col-md-6">
    				  <button type="submit" class="btn button">Modificar</button>
    			</div>
 			  </div>
    	</form>
	</section>
	<footer>
		<h3>Footer</h3>
	</footer>
</body>
</html>