doctypte html
html(lang='es')
head
    title chemixer 
    //
       Bootstrap CSS 
    link(href='css/bootstrap.css', rel='stylesheet')
  body
  	.container
  		.text-center
  			h1 Hola, los saluda el equipo de chemixer
  			h2 Pagina principal en proceso
  		#Content.col-lg-6.col-lg-offset-3.centered
		form.form-horizontal
			fieldset
				legend Registrar:
				.form-group
					label.col-lg-2.control-label(for='nombreU') Nombre de Usuario: 
					.col-lg-10
						input.form-control(type='text', name='nomU' placeholder="Nombre de usuario")
				.form-group
					label.col-lg-2.control-label(for='contrasenaU') Contrase単a: 
					.col-lg-10
						input.form-control(type='text', name='contrasenaU' placeholder="Contrase単a")
				.form-group
					label.col-lg-2.control-label(for='confcontrasenaU') Confirme Contrase単a: 
					.col-lg-10
						input.form-control(type='text', name='confContrasenaU' placeholder="Contrase単a")
				.form-group
					label.col-lg-2.control-label(for='email') Correo electronico: 
					.col-lg-10
						input.form-control(type='text', name='email' placeholder="correo electronico")
				.form-group
					label.col-lg-2.control-label(for='edad') Edad: 
					.col-lg-10
						input.form-control(type='text', name='edad' placeholder="edad")
				.form-group
					label.col-lg-2.control-label(for='escolaridad') Escolaridad: 
					.col-lg-10
						input.form-control(type='text', name='escolaridad' placeholder="escolaridad")
				.form-group.col-lg-10.col-lg-offset-2
					button.btn.btn-default(style='margin-right:5px') Cancelar
					button.btn.btn-primary(type='submit') Guardar