<!doctype html>
<html lan=es>
 <head>
    <meta charset="UTF-8"> 
    <meta name= "viewport" content="width=device-width,maximun-scale=1"/>
       <title>
        cheMixer
       </title>
    <link href='css/bootstrap.css', rel='stylesheet' media="screen">
 </head>
 <body>
 	<nav>
 		<div>
			<div>
				<!--<img src="img/logo.png" class="img-responsive img-rounded" alt="Responsive image">-->
			</div>
			<div>
				<h1>Chemixer</h1>
			</div>
		</div>
		<div>
			<ul class="nav nav-tabs">
				<li class="active"><a href="#">Inicio</a></li>
				<li><a href="#">Cerrar Sesión</a></li>
			</ul>
		</div>
 	</nav>
 	<div class="container">
 		<div class="text-center">
 			<h1>Hola, los saluda el equipo de chemixer</h1>
 			<h2>Pagina principal en proceso</h2>
 		</div>
 	</div>
 </body>
 