<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Administrar Combinaciones</title>
	<link href='css/bootstrap.css', rel='stylesheet' media="screen">
	<link href='css/css.css', rel='stylesheet'>
</head>
<body>
	<nav class="nav">
		<img src="img/cheMixer.png" class="img-responsive img-rounded" alt="Responsive image">
		<div class="Nav">
			<ul class="nav nav-tabs ">
				<li><a href="#">Inicio</a></li>
				<li class="active"><a href="#">Combinaciones</a></li>
				<li><a href="#">Cerrar Sesión</a></li>
			</ul>
		</div>
	</nav>
	<section id="agregar">
		<h3>Agregar</h3>
		<form class="navbar-form navbar-left">
     		<div class="form-group">
        		<input type="text" class="form-control" placeholder="Array de combinaciones">
      		</div>
      		<button type="submit" class="btn button">Agregar</button>
    	</form>
	</section>
	<section id="buscar">
		<h3>Buscar</h3>
		<form class="navbar-form navbar-left" role="search">
     		<div class="form-group">
        		<input type="text" class="form-control" placeholder="Array de combinaciones">
      		</div>
      		<button type="submit" class="btn button"><img src="img/search2.png" class="img-responsive img-rounded imgBuscar" alt="Responsive image"></button>
    		<div class="botones">
    			<button type="submit" class="btn button">Eliminar</button>
      			<button type="submit" class="btn button">Modificar</button>
    		</div>
    	</form>
	</section>
	<footer>
		<h3>Footer</h3>
	</footer>
</body>
</html>