<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Admon. Usuarios</title>
	<link href='css/bootstrap.css', rel='stylesheet' media="screen">
	<link href='css/css.css', rel='stylesheet'>
</head>
<body>
	<nav class="nav">
		<img src="img/cheMixer.png" class="img-responsive img-rounded" alt="Responsive image">
		<div class="Nav">
			<ul class="nav nav-tabs ">
				<li><a href="#">Inicio</a></li>
				<li class="active"><a href="#">Usuario</a></li>
				<li><a href="#">Cerrar Sesión</a></li>
			</ul>
		</div>
	</nav>
	<section class="container centrar">
		<h3>Administrar</h3>
		<form class="form-group navbar-form navbar-left" role="search">
     		<div class="form-group">
        		<input type="text" class="form-control" placeholder="usuario">
        		<button type="submit" class="btn button"><img src="img/search2.png" class="img-responsive img-rounded imgBuscar" alt="Responsive image"></button>
      		</div>
    		<div class="botones">
    				<button type="submit" class="btn button">Eliminar</button>
      			<button type="submit" class="btn button">Bloquear</button>
    		</div>
    	</form>
	</section>
	<footer>
		<p>Footer</p>
	</footer>
</body>
</html>
