<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Modificar Elementos</title>
	<link href='css/bootstrap.css', rel='stylesheet' media="screen">
	<link href='css/css.css', rel='stylesheet'>
</head>
<body>
	<nav class="nav">
		<img src="img/cheMixer.png" class="img-responsive img-rounded" alt="Responsive image">
		<div class="Nav">
			<ul class="nav nav-tabs ">
				<li><a href="#">Inicio</a></li>
				<li class="active"><a href="#">Elementos</a></li>
				<li><a href="#">Cerrar Sesión</a></li>
			</ul>
		</div>
	</nav>
	<section class="container centrar">
		<h3>Modificar</h3>
		<form class="form-horizontal col-xs-8" role="form">
  			<div class="form-group">
    			<label for="inputNombreE" class="col-sm-2 control-label">Nombre del elemento</label>
    			<div class="col-sm-10">
      				<input type="nombreE" class="form-control" id="inputNombreE" placeholder="">
    			</div>
  			</div>
  			<div class="form-group">
   			 <label for="inputDescripcion" class="col-sm-2 control-label">Descripción</label>
    			<div class="col-sm-10">
      				<textarea class="form-control" rows="3"></textarea>
    			</div>
  			</div>
  			<div class="form-group">
   			 <label for="inputAgregaImg" class="col-sm-2 control-label">Cambiar imagen</label>
    			<div class="col-sm-10">
      				<textarea class="form-control" rows="3"></textarea>
    			</div>
  			</div>
  			<div class="botones">
    			<div class="col-md-6">
    			  <button type="submit" class="btn button">Cancelar</button>
    			</div>
    			<div class="col-md-6">
    			  <button type="submit" class="btn button">Aceptar<button>
    			</div>
 			</div>
		</form>
	</section>
	<footer>
		<div>
			<h3>Footer</h3>
		</div>
	</footer>
</body>
</html>